<div id="bookingModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 id="modalTitle">Modal Title</h2>
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
        <div class="modal-body">
            <p>Sala: <span id="selectedRoom"></span></p>
            <p>Horário: <span id="selectedTime"></span></p>
            <div id="modalContent">
                <!-- Conteúdo dinâmico será inserido aqui -->
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" onclick="closeModal()">Fechar</button>
        </div>
    </div>
</div>