<%- include('components/header') %>

    <div class="container"
        style="margin-top: 80px; position: relative; z-index: 1; width: 90%; max-width: 1200px; background-color: white; padding: 20px; border-radius: 10px; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);">
        <%- include('components/booking-grid') %>
    </div>

    <%- include('components/modal') %>

        <% scripts=` <script>
            window.currentUserId = '${currentUserId}';
            localStorage.setItem("currentUserId", window.currentUserId);
            </script>
            <script src="/scripts/scriptHome.js"></script>
            ` %>