<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IntelliRooms - Reserva de Salas</title>
</head>

<body>
    <div class="container">
        <%- include('components/header') %>
        <%- include('components/booking-grid') %>
        <%- include('components/modal') %>
    </div>

    <script src="scripts/scriptHome.js"></script>
</body>
</html>