<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin Page</title>
</head>
<body>
    <h2>Welcome!</h2>
    <form id="signInForm">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required><br><br>

        <label for="password">Password:</label>
        <!-- Add a password input here -->
        <input type="password" id="password" name="password" required><br><br>

       <!--Add a button here.-->
       <button type="submit">Entrar</button>
    </form>

    <p id="message"></p>
    
    <script src="scripts/scriptSignIn.js"></script>
</body>
</html>