<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
</head>
<body>
    <h2>Criar conta!</h2>
    <form id="signUpForm">
        <label for="name">Nome Completo *</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="class">Turma *</label>
        <input type="text" id="class" name="class" required><br><br>

        <label for="group">Grupo *</label>
        <input type="text" id="group" name="group" required><br><br>

        <label for="course">Curso *</label>
        <input type="text" id="course" name="course" required><br><br>

        <label for="email">Email *</label>
        <input type="text" id="email" name="email" required><br><br>

        <label for="password">Senha *</label>
        <!-- Add a password input here -->
        <input type="password" id="password" name="password" required><br><br>

       <!--Add a button here.-->
       <button type="submit">Criar</button>
    </form>

    <p location.href: "/signin"></p>

    <p id="message"></p>
    
    <script src="scripts/scriptSignUp.js"></script>
</body>
</html>